/* Universal */
* {
    margin: 0;
    padding: 0; 
}

html {
    font-size: 16px;
    color: rgb(8, 34, 19);
    background-color: hsl(106, 34%, 75%);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Banner */

#banner {
    background-image: url("../bruce-warrington-WSAOGHKEqFc-unsplash.jpg");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25rem;
    opacity: 0.8;
}

#banner h1 {
    text-align: center;
    font-size: 5rem;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    margin-bottom: -5rem;
}

/* Navigation */

nav {
    padding: .5rem;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

nav ul li {
    list-style: none;
    background-color: hsl(145, 62%, 15%);
    padding: 1rem;
    min-width: 5em;
    border-radius: 1em;
    text-align: center;
}

nav ul li a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

/* Sections */

.content {
    background-color: white;
}


/* Sign Up */

#signup {
    display: flex;
    background-image: url(../x-PK65bPGTUIE-unsplash.jpg);
}