/* Universal */
* {
    margin: 0;
    padding: 0; 
}

html {
    font-size: 16px;
    color: rgb(8, 34, 19);
    background-color: hsl(106, 34%, 75%);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (max-width: 480px) {
    html {
        font-size: 12px;
    }
}

@media only screen and (max-width: 815px) and (min-width: 480px) {
    html {
        font-size: 14px;
    }
}



/* Banner */

#banner {
    background-image: url("../bruce-warrington-WSAOGHKEqFc-unsplash.jpg");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25rem;
    opacity: 0.8;
}

#banner h1 {
    text-align: center;
    font-size: 5rem;
    color: hsl(0, 0%, 100%);
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    margin-bottom: -5rem;
}

/* Navigation */

nav {
    padding: .5rem;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

nav ul li {
    list-style: none;
    background-color: #A1701F;
    padding: 1rem;
    min-width: 4em;
    border-radius: 1em;
    text-align: center;
}

nav ul li a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

@media only screen and (max-width: 480px) {
    nav ul {
        justify-content: center;
    }

    nav ul li {
        border-radius: 0%;
        padding: .4rem;
        border-right: 1px solid #0f3e22;
    }    
}
/* Sections */

.content {
    background-color: white;
    width: 70%;
    padding: 2rem;
    border-radius: 1em;
    margin-bottom: 2rem;
}

.content p {
    margin-bottom: 1.5em;
}

.content h2 {
    text-align: center;
    margin-bottom: 2em;
}

/* Walk Schedule */

#walks {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

.walk-column {
    text-align: center;
}

/* Gallery */

#gallery {
    display: flex;
    flex-wrap: wrap;
}

.img-container {
    flex: 25%;
    max-width: 50%;
    padding: 0 .5em;
}

.img-container img {
    margin-top: .5em;
    vertical-align: middle;
    width: 100%;
}


/* Sign Up */

#signup {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#signup-btn,
nav ul li #signup-btn {
    background-color: #0f3e22;
    color: white;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: hsl(106, 34%, 75%);
    padding: 1em;
    border-radius: 1em;
    font-size: 1rem;
}

form input,
form label,
form button {
    font-size: 1rem;
    padding: 2px;  
    margin: .2em
}
